<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Raleway|Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <h1 class="logout">Goodbye!</h1>
    <h2 class="logout"><a href="/main">Click here</a> to be redirected to the main page.</h2>

  </body>
</html>
