<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Raleway|Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <h1 id="greeting">Welcome back, {{ currentUser }}!</h1>

    <h3 class="subtitles-main"> Create a new gabble </h3>
    <form method="post" action="/create">
      <textarea name="body" rows="10" cols="200" placeholder="Type your gabble here..."></textarea><br>
      <span class="required">{{ needBody }}</span><br>
      <input type="submit" value="Post your gabble" class="create-btn">
    </form>


    <h3 class="subtitles-main"> Gabbles from your circle </h3>
    <form method="post" action="/sort">
      <label for="sort">Sort gabbles by:</label>
      <select class="ui-dropdown" name="sorttype" id="sort">
        <option value="datedescending">Newest to oldest</option>
        <option value="dateascending">Oldest to newest</option>
      </select>
      <input type="submit" value="Sort" class="sort-btn">
    </form>
    <br>
    <span id="noresults" class="required">{{ noResults }}</span><br>
    <ul>
        {{ #gabbles }}
        <li>
          <h5 class="gabble-details">{{ user.username }} : <span> {{ content }} </span></h5><br>
          <h5 class="gabble-details">{{ createdAt }}</h5>

            {{ #liked}}
              <h4 class="gabble-details"><a href="/likes/{{ id }}"> Likes: {{ likes.length }} </a></h4>
            {{ /liked }}

            {{ ^liked }}
              <h4 class="gabble-details"> Noone has liked this gabble yet. </h4>
            {{ /liked }}

          <form method="post" action="/like/{{ id }}">
            <input type="submit" value="Like" class="like-btn" name="like">
          </form>

          {{ #currentAuthor }}
          <form method="post" action="/delete/{{ id }}">
            <input type="submit" value="Delete" class="del-btn" name="del">
          </form>
          {{ /currentAuthor }}
        </li>
        {{ /gabbles }}
    </ul>

    <form method="post" action="/logout">
    <input type="submit" value="Log out">

  </body>
</html>
