<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Raleway|Titillium+Web" rel="stylesheet">
  </head>
  <body id="registration-body">
    <h1 id="registration-heading">Create an account to keep track of all your favorite gabbles.</h1>
    <form method="post" action="/register" class="signup-wrapper">
      <input type="text" name="newUsername" placeholder="Username" class="signup"><br>
      <input type="password" name="newPassword" placeholder="Password" class="signup"><br>
      <input type="submit" value="Create an account now!" id="signup-btn">
    </form>

  </body>
</html>
