<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Raleway|Titillium+Web" rel="stylesheet">
  </head>
  <body class="success-wrapper">
    <h1 class="register-success">Thank you for registering.</h1>
    <h2 class="register-success">Please sign in through the <a href="/main">mainpage</a> to start gabbling.</h2>
  </body>
</html>
