<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Raleway|Titillium+Web" rel="stylesheet">
  </head>
  <body class="mainpage">
    <div id="sign-in">
      <form method="post" action="/main">
        <input type="text" name="username" placeholder="Username" class="login">
        <input type="password" name="password" placeholder="Password" class="login">
        <input type="submit" value="Sign In" id="login-btn"><br>
        <span id="login-failed">{{ failed }}</span>
      </form>
      <br>
      <a href="/register" class="login">New to the site? Register!</a>
    </div>

    <div id="mainpage-heading">
        <h1 id="mainpage-text">Welcome to Gabble, where you can share your thoughts. Like, all your thoughts.</h1>
        <h2 id="mainpage-subtext">Join today and start gabbling.</h2>
    </div>
  </body>
</html>
