/*font-family: 'Mukta Mahee', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

.login {
  font-family: 'Titillium Web', sans-serif;
}

#login-failed {
  font-family: 'Titillium Web', sans-serif;
  color: red;
}

#mainpage-heading {
  font-family: 'Mukta Mahee', sans-serif;
  margin-top: 5em;
}

#mainpage-text {
  font-size: 3em;
}

#mainpage-subtext {
  font-size: 2em;
}

#sign-in {
  text-align: right;
  margin-right: 10px;
  margin-top: 20px;
}

.mainpage {
  background-image: url("https://image.freepik.com/free-photo/happy-guy-with-thumb-up-on-white-background_1149-197.jpg");
  background-repeat: no-repeat;
  background-position: 800px 14em;
  background-size: 50%;
}

.registration-heading {
  text-align: center;
}

.signup-wrapper {
  text-align: center
}

.signup {
  margin: 10px;
  width: 20%;
}

.success-wrapper {
  text-align: center;
}

.search {
  width: 30%
}

input, select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#signup-btn {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signup-btn:hover {
  background-color: #45a049;
}

#greeting {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 3em;
  text-align: center;
  text-decoration-line: underline;
}

.subtitles-main {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-left: 2em;
}

form {
  margin-left: 2em;
}

.required {
  font-family: 'Titillium Web', sans-serif;
  color: red;
}

label {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(73, 71, 69);
  font-size: 1.2em;
}

ul {
  list-style: none;
  margin-left: -2.3em;
}

li {
  border: 1px solid rgb(85, 85, 85);
  padding: 1em 1em 2em 2em;
  margin: 1em;
}

.logout {
  font-family: 'Mukta Mahee', sans-serif;
  text-align: center;
  margin: 2em;
}

#registration-body {
  font-family: 'Mukta Mahee', sans-serif;
  text-align: center;
  margin: 14em;
}

.success-wrapper {
  font-family: 'Mukta Mahee', sans-serif;
  text-align: center;
  margin: 14em;
}

.ui-dropdown {
  height: 3.4em;
  font-family: 'Titillium Web', sans-serif;
}

.gabble-title {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
}

a:link {
  text-decoration: none;
  color: rgb(103, 105, 102);
  font-family: 'Titillium Web', sans-serif;
}

a:visited {
  text-decoration: none;
  color: rgb(103, 105, 102);
  font-family: 'Titillium Web', sans-serif;
}

a:hover {
  text-decoration: underline;
  color: rgb(101, 153, 76);
  font-family: 'Titillium Web', sans-serif;
}

.gabble-details {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  color: rgb(80, 79, 80);
}

.ind-body {

}
